.frame {
  padding: var(--space-medium) 0;
  background-color: #4c86c1;
}
.frame > :first-child {
  padding: var(--spcae-x-small) 0;
  background-color: var(--color-white);
  border-radius: 20px;
}
.sideButton {
  display: none;
}

@media (min-width:768px) {
  .sideButton {
    display: revert;
    position: fixed;
    top: 30%;
    right: 0;
    padding: 1.5em 0.75em;
    border-radius: 0.5em 0 0 0.5em;
    color: var(--color-white);
    background-color: var(--color-black);
    writing-mode: vertical-rl;
  }
}