.container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding-bottom: var(--space-x-small);
}
.large {
  composes: container;
  max-width: 1280px;
}
.header {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .container {
    width: 92%;
  }
}