/* =========================
   Header Component CSS
   ========================= */

.flexContainer {
  composes: spaceBetween from '@/app/_components/_layouts.module.css';
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
}
