.button {
  all: unset;
  outline: revert;
  /* -webkit-tap-highlight-color: transparent; */
  /* -webkit-touch-callout: none; */
  user-select: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  position: relative;
  z-index: 200;
}
.close .button {
  color: var(--color-gray-75);
}
.open .button {
  color: var(--color-white);
}
.button {
  display: grid;
  place-items: center;
}
.button::before,
.button::after,
.button .bar {
  grid-area: 1 / 1;
  content: '';
  display: block;
  width: 32px;
  height: 1px;
  background-color: currentColor;
  transition: transform 0.4s;
}
.close .button::before {
  transform: translateY(-8px);
}
.close .button::after {
  transform: translateY(8px);
}
.open .button::before {
  transform: rotate(45deg);
}
.open .button::after {
  transform: rotate(-45deg);
}
.open .button .bar {
  transform: scale(0);
}

.list {
  position: fixed;
  inset: 0 -100% 0 100%;
  z-index: 100;
  background: transparent;
  color: var(--color-white);
  transition: transform 0.4s, background 0.4s;
}
.open .list {
  transform: translateX(-100%);
  background: rgba(0, 0, 0, 0.8);
}
.list {
  display: grid;
  gap: 40px;
  place-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .list {
    display: flex;
    gap: 2em;
    color: inherit;
    inset: inherit;
    position: inherit;
    z-index: inherit;
  }
  .button {
    display: none;
  }
}

@media (hover: hover) {
  .list a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .list a {
    /* -webkit-tap-highlight-color: transparent; */
    /* -webkit-touch-callout: none; */
    user-select: none;
  }
  .list a:active {
    color: var(--color-accent);
  }
}
