/* =========================
   Pager Component CSS
   ========================= */

.pager {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  line-height: 1;
}
.pager li {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.pager a {
  border-radius: 0.3em;
  border: 2px solid var(--color-gray-10);
}
.pager a,
.pager span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pager .current {
  color: var(--color-white);
  background-color: var(--color-gray-50);
  border-color: var(--color-gray-50);
  cursor: default;
}
.pager a,
.pager span {
  padding: 0.4em 0.8em;
  width: var(--space-small);
}
.disable {
  background-color: var(--color-gray-10);
  color: var(--color-gray-25);
  border-radius: 0.3em;
  cursor: default;
}
.omit {
  composes: disable;
}

.prev a,
.next a {
  width: auto;
  padding: 0.4em;
}
