/* =========================
   Pagination Component CSS
   ========================= */

.flexContainer {
  composes: spaceBetween from '@/app/_components/_layouts.module.css';
  margin: var(--space-large) 0;
  gap: 1em;
}

.next {
  margin-left: auto;
}
.prev {
  margin-right: auto;
}
.iconText {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
