.stack > * + * {
  margin-top: var(--stack-space, 1.5em);
}
.stack h2,
.stack h3 {
  --stack-space: 2em;
}
.stack h2 + *,
.stack h3 + * {
  --stack-space: .8em;
}
.stack p {
  line-height: 1.8;
}
.stack ul,
.stack ol {
  padding: revert;
  list-style: revert;
}
.stack a {
  text-decoration: underline;
  color: revert;
}
.stack a:link {
  color: var(--color-accent);
}
.stack a:visited {
  color: var(--color-accent);
}
.stack a:hover {
  color: var(--color-accent);
  text-decoration: none;
}
.stack a:active {
  color: var(--color-black);
}