/* =========================
   PostEyecatch Component CSS
   ========================= */

.eyecatch {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.eyecatch img {
  object-fit: cover;
}
